body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Roboto";
  font-size: 14px;
  color: black;
  background-color: white;
}

.container_body {
  width: 1920px;
  /* outline: 1px dashed green; */
  margin: 0 auto;
}

.container {
  width: 1108px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px dashed tomato; */
}

.buttons {
  align-self: center;
  padding: 20px 48px 21px 48px;
  font-size: 1.5rem;
  background-color: rgba(33, 150, 243, 0.9);
}

.header {
  border: 1px solid #a1a1a1;
  width: 1920px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header__nav--list {
  display: flex;
  justify-content: end;
}
.header__nav--item {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 39px;
  padding-bottom: 39px;
}
.header__nav--link {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.header__nav--link.active::after {
  border: 2px solid #FFFFFF;
  width: 107px;
  height: 0px;
  content: "";
  bottom: 0px;
  border-radius: 2px;
  display: block;
  position: absolute;
  right: 880px;
}

.hero {
  background: url("/images/Rectangle.jpg");
  width: 100%;
  height: 900px;
}
.hero--title {
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 319px;
  align-items: center;
}
.hero--text {
  font-weight: 800;
  font-size: 48px;
  line-height: 134%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}
.hero--button {
  border-radius: 30px;
  width: 200px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background: #4985FF;
  margin-top: 63px;
  margin-left: 438px;
  border: none;
}

.featuers {
  display: block;
}
.featuers--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  text-align: center;
  color: #000000;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 32px;
}
.featuers--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  text-align: center;
  color: #999999;
  margin-bottom: 70px;
}
.featuers__list {
  display: flex;
}
.featuers__list--item:not(:last-child) {
  margin-right: 27px;
}
.featuers__list--title {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-bottom: 12px;
}
.featuers__list--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  color: #999999;
  margin-bottom: 68px;
}
.featuers__list--svg {
  fill: #000000;
}
.featuers__list--button {
  border-radius: 30px;
  width: 200px;
  height: 45px;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background: #4985FF;
  margin-left: 396px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 130px;
}

.activities {
  background-color: #F6F6F8;
  width: 1920px;
  height: 797px;
}
.activities__div {
  position: absolute;
  top: 1455px;
}
.activities__div--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  color: #323232;
  margin-bottom: 60px;
  margin-top: 152px;
}
.activities__div--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: #999999;
  margin-bottom: 42px;
  height: 85px;
  width: 485px;
}
.activities__div--link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4985FF;
}
.activities--img {
  position: absolute;
  top: 1600px;
  left: 1021px;
  border-radius: 30px;
}
.activities--decoration {
  border: 1px solid #999999;
  width: 1110px;
  height: 0px;
  margin-bottom: 70px;
  position: absolute;
  top: 2090px;
}
.activities__list {
  display: flex;
  position: absolute;
  top: 2140px;
  left: 595px;
}
.activities__list--item:not(:last-child) {
  margin-right: 100px;
}
.activities__list--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: #999999;
}
.activities__container {
  display: flex;
}
.activities__container--title {
  font-weight: 400;
  font-size: 36px;
  line-height: 146%;
  color: #000000;
}
.activities__container--svg {
  margin-top: 10px;
  margin-right: 10px;
}

.activities {
  background-color: #F6F6F8;
  width: 1920px;
  height: 797px;
}
.activities__div {
  position: absolute;
  top: 1455px;
}
.activities__div--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  color: #323232;
  margin-bottom: 60px;
  margin-top: 152px;
}
.activities__div--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: #999999;
  margin-bottom: 42px;
  height: 85px;
  width: 485px;
}
.activities__div--link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4985FF;
}
.activities--img {
  position: absolute;
  top: 1600px;
  left: 1021px;
  border-radius: 30px;
}
.activities--decoration {
  border: 1px solid #999999;
  width: 1110px;
  height: 0px;
  margin-bottom: 70px;
  position: absolute;
  top: 2090px;
}
.activities__list {
  display: flex;
  position: absolute;
  top: 2140px;
  left: 595px;
}
.activities__list--item:not(:last-child) {
  margin-right: 100px;
}
.activities__list--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: #999999;
}
.activities__container {
  display: flex;
}
.activities__container--title {
  font-weight: 400;
  font-size: 36px;
  line-height: 146%;
  color: #000000;
}
.activities__container--svg {
  margin-top: 10px;
  margin-right: 10px;
}

.office {
  background: linear-gradient(#504DC2, #5F12D0);
}
.office__div {
  display: flex;
  justify-content: space-between;
}
.office__div--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  color: #FFFFFF;
  margin-top: 100px;
  margin-bottom: 302px;
  width: 570px;
}
.office__div--button {
  border-radius: 30px;
  width: 200px;
  height: 45px;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background: #4985FF;
  border: none;
  margin-top: 120px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}
.office__list {
  position: absolute;
  top: 2656px;
  display: flex;
  width: 1110px;
}
.office__list--img {
  border-radius: 10px;
  background: #c4c4c4, url("path_to_image");
  margin-bottom: 30px;
}
.office__list--title {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.office__list--span {
  font-weight: 600;
  font-size: 18px;
  color: #4985FF;
}
.office__list--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: #999999;
  margin-bottom: 47px;
}
.office__list--link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4985FF;
  margin-bottom: 170px;
}
.office--decoration {
  position: absolute;
  border: 1px solid #999999;
  width: 1110px;
  height: 0px;
  margin-top: 400px;
}

.team {
  background-color: #F6F6F8;
  position: absolute;
  top: 3255px;
  width: 1920px;
}
.team--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  text-align: center;
  color: #000000;
  margin-bottom: 28px;
}
.team--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  margin-left: 195px;
  color: #999999;
  margin-bottom: 92px;
  height: 41px;
  width: 730px;
}
.team__list {
  display: flex;
  margin-bottom: 50px;
}
.team__list--item:not(:nth-child(n+4)) {
  margin-right: 30px;
}
.team__list--img {
  background: #c4c4c4;
  border-radius: 10px;
}
.team--button {
  border-radius: 30px;
  width: 200px;
  height: 45px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background: #4985FF;
  margin-left: 460px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 130px;
}

.video {
  position: absolute;
  top: 3930px;
  background: url("/images/video.jpg");
  width: 1920px;
}
.video--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 70px;
  margin-bottom: 30px;
}
.video--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 390px;
}
.video__div {
  background: url("/images/house.png");
  border-radius: 10px;
  width: 970px;
  height: 430px;
  position: absolute;
  top: 200px;
  right: 500px;
}
.video__div--button {
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 165px;
  left: 335px;
}
.video--decoration {
  border: 1px solid #999999;
  width: 1110px;
  height: 0px;
  position: absolute;
  top: 750px;
}

.customers {
  width: 1920px;
  position: absolute;
  top: 4900px;
}
.customers--title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.customers--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  text-align: center;
  color: #999999;
}
.customers__div {
  margin-bottom: 35px;
  margin-left: 215px;
}
.customers__div--input {
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  width: 489px;
  height: 45px;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background: #FFFFFF;
  border-radius: 30px 0 0 30px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 33px;
}
.customers__div--input::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  color: #999999;
}
.customers__div--button {
  border-radius: 0 30px 30px 0;
  width: 190px;
  height: 45px;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background: #4985FF;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
  justify-content: center;
}
.customers--subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  text-align: center;
  color: #999999;
  margin-bottom: 85px;
}

.footer {
  background-color: #F6F6F8;
  width: 1920px;
  position: absolute;
  top: 5285px;
}
.footer__div--title {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 35px;
}
.footer__list {
  display: flex;
  margin-bottom: 70px;
  justify-content: space-between;
}
.footer__lists--link {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  color: #999999;
}
.footer__lists--item:not(:last-child) {
  margin-bottom: 30px;
}
.footer__lists--svg {
  padding-right: 4px;
}
.footer--decoration {
  border: 1px solid #999999;
  width: 1110px;
  height: 0px;
  margin-bottom: 30px;
}
.footer--text {
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  text-align: center;
  color: #999999;
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */